.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My CSS */

.movie-poster {
  width: fit-content;
  height: auto;
}

.poster-container {
  width: 100px;
}

.card-width {
  width: min-content;
  margin: 9px;
}

#results-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#results-container {
  background-color: powderblue;
  padding: 20px;
}

#nominations-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 45px;
}

#nominations-cont {
  background-color: orange;
  padding: 30px;
}

#main-page-layout {
  display: grid;
  gap: 30px;
}

.pointer {
  cursor: pointer;
}
